body{
    background-image: url("https://images7.alphacoders.com/866/866208.jpg");
}
.scheda{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
    background-color: rgb(51, 194, 241);
    text-align: center;
    border-radius: 10px;

}
.profilo{
    text-align: center;
    border-radius: 30px;
    padding: 10px;
}
.nome{
    margin-top: 0px;
    margin-bottom: 0px;
    float:right;
    margin-top: 12%;
    margin-right: 10%;
}
.foto_profilo{
    width: 30%;
    border-radius: 50%;
}
.scheda_cambio{
    height: 180px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(131, 220, 250);
}
.checkbox{
    padding: 20px;
    text-align: left;
    border-radius: 30px;
    background-color: rgb(63, 99, 255);
    float: left;
}
.ricorrenze{
    float: right;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(63, 99, 255);
    width: 50%;
}
.giorni{
    height: auto;
    text-align: center;
}
