body{
    background-color: rgb(127, 229, 255);
}
.scheda{
    padding: 50px;
    margin-top: 150px;
    background-color: rgb(51, 194, 241);
    text-align: center;
    border-radius: 10px;

}
.profilo{
    text-align: center;
    background-color: rgb(63, 99, 255);
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;

}
.foto_profilo{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
.scheda_cambio{
    height: 180px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(131, 220, 250);
}
.checkbox{
    padding: 20px;
    text-align: left;
    border-radius: 30px;
    background-color: rgb(63, 99, 255);
    float: left;
}
.filtri{
    width: 20%;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(63, 99, 255);
    float: right;
    margin-left: 5%;
}
.ricorrenze{
    float: right;
    width: 45%;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(63, 99, 255);
}
.giorni{
    height: auto;
    text-align: center;
}
